{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
        {{ form(myform) }}
        </div>
    </div>
</div>

{% endblock %}