{% extends "base.html.twig" %}

{% block body %}
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">{{ article.titre }}</div>
  <div class="card-body">
    <h4 class="card-title">par {{ article.auteur }}, le {{ article.creeLe | date("d/m/Y") }}</h4>
    <p class="card-text">{{ article.corps }}</p>
  </div>
</div>
{% endblock %}